.container-fluid{    background:#008B8B; color: 	#FFF5EE; }
section{ min-height:550px;}
.content{padding: 50px 0px; }
.header{    min-height: 230px; }
form{    width:100%; margin:50px auto; }
button{ width:50%; font-weight:bold; }
.table{width:90%; margin:10px auto;}
th,td{text-align:center;}
#form-head{ color:red;}
button{ width:100px; float:right;}
#right{text-align:right;}
h2{color:#f67b00; }
#myData{ box-shadow: 0px 0px 1px #008B8B;  margin:20px auto; padding:10px; width:60%; border-radius:5px;}
#d_show_label { width:30%;  }
#d_show_label b{ width:70%; }
#btn1{color:green;}